@model ToolbarViewModel

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="gridSize" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.GridSizeProperties[0].Name
            </a>
            <div class="dropdown-menu" aria-labelledby="gridSize">
                @foreach (var listItem in Model.GridSizeProperties)
                {
                    <a class="dropdown-item" href="#">@listItem.Name</a>
                }
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sorting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.SortingProperties[0].DisplayedName
            </a>
            <div class="dropdown-menu" aria-labelledby="sorting">
                @foreach (var property in Model.SortingProperties)
                {
                    if (string.IsNullOrEmpty(property.PropertyName))
                    {
                        continue;
                    }
                    <a class="dropdown-item @(property.PropertyName == Model.SortingProperty.PropertyName && property.DescendingOrder == Model.DescendingOrder ? " active" : null)" href="@property.UrlLink">@property.DisplayedName</a>
                }
            </div>
        </li>
    </ul>

