@model AdminFilter


@if (Model != null)
{
    <div class="card m-3">
        <div class="card-body">
            <form id="filter" asp-controller="@Model.Controller" asp-action="@Model.Action" method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label font-weight-bold">Поиск по</label>
                    <div class="col-sm-5">
                        <select asp-for="SelectedProperty" class="form-control">
                            @foreach (var property in Model.FilterProperties)
                            {
                                <option selected="@(property.IsActive ? "selected" : null)" value="@property.PropertyName">@property.DisplayedName</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="simpleValue" class="form-group row">
                    <label class="col-sm-3 col-form-label font-weight-bold">Значение для поиска</label>
                    <div class="col-sm-5">
                        <input asp-for="SearchValue" class="form-control" placeholder="Введите значение" />
                        <input asp-for="FormAction" type="hidden" />
                    </div>
                </div>
                <div id="rangeValues" class="form-group row d-none">
                    <label class="col-sm-3 col-form-label font-weight-bold">Диапазон значений (с и по)</label>
                    <div class="col-sm-5">
                        <div class="form-group row mb-0">
                            <div class="col-sm-6">
                                <input asp-for="FirstRangeValue" class="form-control" placeholder="Введите значение"/>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="SecondRangeValue" class="form-control" placeholder="Введите значение"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <button id="search" type="submit" class="btn btn-primary">Найти</button>
                        <button id="cancel" type="submit" class="btn btn-warning ml-2">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
